/node_modules
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
node_modules/
build/
.env
.DS_Store
npm-debug.log
yarn-error.log
.next/
.nuxt/
.cache/
dist/
coverage/
.idea/
.vscode/
*.log
*.lock
.parcel-cache/
.eslintcache